<h1><%= @empresa.nome %></h1>
<h3>Editando <%= @rh.nome %></h3>
<br>


<div class="container">
  <%= render partial:'form', locals: { empresa: @empresa, action_text:"Editar" } %>
  <%= link_to 'Voltar', @empresa, class: 'btn btn-primary'%>
</div>