<h2><%= @empresa.nome %></h2>
<h4>Editando: <%= @projeto.nome %></h4>
<br>


<div class="container">
  <%= render partial:'form', locals:{ empresa: @empresa, action_text:'Editar' } %>
  <%= link_to 'Voltar', @empresa, class: 'btn btn-primary'%>
</div>