<br><% if current_user.admin %>
  <h3>Usuário: <%= @user.nome %></h3><br>
  <h4>Email: <%= @user.email %></h4>
  <% if @user.admin %>
    <h4>Admin: Sim</h4>
  <% else %>
    <h4>Admin: Não</h4>
  <% end %>
<% else %>
  <h3>Você não é um administrador.</h3>
<% end %>