<h2>Editando: <%= @empresa.nome %></h2>


<div class="container">
  <%= render partial:'form', locals:{ empresa: @empresa, action_text:'Editar' } %>
  <%= link_to 'Voltar', @empresa, class:'btn btn-primary' %>
</div>