<h2>Cadastrando nova empresa</h2>
<br>


<div class="container">
  <%= render partial:'form', locals:{ empresa: @empresa, action_text:'Criar' } %>
  <%= link_to 'Voltar', empresas_path, class: 'btn btn-primary'%>
</div>